:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: rgb(43, 45, 56);
}

div {
    display: flex;
}

main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

header h1 {
    display: flex;
    justify-content: center;
    font-size: 200%;
    margin: 30px;
    color: rgb(158, 124, 218);
}

header p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    text-align: center;
    color: rgb(192, 166, 236);
}

.card {
    padding: 8px;
    display: flex;
    flex: 1 0 calc(33.33% - 100px); 
    max-width: calc(33.33% - 100px); 
    flex-direction: column;
    background-color: none;
    margin: 50px;
    flex-wrap: wrap;
    border: 2px dashed white;
    position: relative;
}

.card-header {
    text-align: center;
    border: 2px solid white;
    background-color: rgb(43, 45, 56);
    border-radius: 5px;
    margin: 5px;
    padding: 5px 50px 5px 50px;
    position: absolute;
    left: 34px;
    bottom: 160px;
}

.card-desc {
    margin: 10px;
    padding: 5px;
}

.card-code {
    background: linear-gradient(to bottom, rgb(130, 3, 241), rgb(192, 166, 236));
    padding: 10px;
    font-style: italic;
    color: white;
    display: flex;
    border-radius: 10px;
    border: 2px solid black;
}

.card p {
    color: rgb(192, 166, 236);
}

.card h2 {
    color: rgb(192, 166, 236);
    font-size: 132%;
}


footer {
    text-align: center;
    margin: 50px;
    color: rgb(158, 124, 218);
    font-size: 125%;
}